<div class="container">
  <div class="wrapper-form">
    <h1 class="header">Update your cocktail</h1>
    <%= simple_form_for @cocktail do |f| %>
      <%= f.input :name %>
       <p class="info-cocktail text-center"><%= f.button :submit, class: 'btn btn-warning' %>
    <% end %>
  </div>
</div>

