<!--  -->
<div class="banner" style="">
  <div class="banner-content">
    <h1>Coctaile Heaven</h1>
    <%= form_tag root_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a cocktail"
  %>
<% end %>

    <p><span id="banner-typed-text"></span></p>
    <a href="#starts" class="btn btn-primary btn-lg">Find a cocktail</a>
  </div>
</div>


<div class="container text-center" id="starts">
  <h1></h1>
  <p class="info-resto"><%= link_to 'New cocktail', new_cocktail_path, class: 'btn btn-warning' %>
  <div class="wrapper">
    <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="cocktail-card">
          <h4><%= link_to cocktail.name, cocktail_path(cocktail.id) %></h4>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>


