.wrapper {
  width: 80vw;
}

.cocktail-card {
  margin: 20px 20px;
  text-align: center;
  width: 300px;
  height: 300px;
  color: #fff;
  background-image: asset-url('mojito.jpeg');
  background-position: center;
  background-size: cover;


}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
